{
    "bot_settings": {
        "prefix": "?",
        "currency_emoji": "🥔",
        "maintenance": false,
        "language": "hu"
    },
    "channels": {
        "economy": [
            0
        ],
        "levels": [
            0
        ],
        "join": 0,
        "leave": 0,
        "booster": 0,
        "other_games_channel": 0,
        "join_to_create": [
            0
        ],
        "ticket_category": 0,
        "ticket_logs": 0,
        "admin_category": 0,
        "bot_log": 0,
        "everydle": 0
    },
    "roles": {
        "admin": [
            0
        ],
        "premium": [
            0
        ],
        "member": 0,
        "autoroles": [
            0
        ],
        "premium_role": 0,
        "onboarding": 0,
        "ignored_users": [
            0
        ]
    },
    "factions": {
        "tst": {
            "leader_role_id": 0,
            "manageable_ids": [
                0
            ]
        },
        "rba": {
            "leader_role_id": 0,
            "manageable_ids": [
                0
            ]
        },
        "nhh": {
            "leader_role_id": 0,
            "manageable_ids": [
                0
            ]
        }
    },
    "lfg_channels": {
        "channel_id_1": 0,
        "channel_id_2": 0,
        "channel_id_3": 0,
        "channel_id_4": 0,
        "channel_id_5": 0,
        "channel_id_6": 0,
        "channel_id_7": 0,
        "channel_id_8": 0
    },
    "socials": {
        "notification_channel": 0,
        "twitch_role_id": 0,
        "youtube_role_id": 0,
        "twitch_streamers": [
            ""
        ]
    },
    "level_roles": {
        "5": 0,
        "10": 0,
        "15": 0,
        "25": 0,
        "50": 0,
        "100": 0,
        "150": 0,
        "200": 0,
        "250": 0
    }
}
